html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: inherit;
  padding: inherit;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: aqua;
}
h1 {
  margin: 0 4rem;
}

.board {
  margin: 2rem 4rem;
  display: flex;
  gap: 3rem;
}

.folder {
  border: 1px black solid;
  padding: 0 2rem 1.5rem;
  border-radius: 1rem;
}
ul {
  padding-left: 0;
}
li {
  margin: 0.5rem 0;
  list-style: none;
}
.input {
  width: 7rem;
}
.submit {
  display: none;
}
